{% extends 'DjangoAplicacion/padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<h1>LISTADO DE DUEÑOS</h1>

{% for dueño in dueños %}
    <h3>@{{dueño.user}}</h3>
    <li>Dueño: {{dueño.nombre}} {{dueño.apellido}}
        <p>
            {% if not request.user.is_authenticated or request.user != dueño.user %}
            <a href="{% url 'DetalleDueño' dueño.pk %}">Detalles</a>
            {% else %}
            <a href="{% url 'DetalleDueño' dueño.pk %}">Detalles</a>
            <a href="{% url 'EditarDueño' dueño.pk %}">Editar</a>
            <a href="{% url 'BorrarDueño' dueño.pk %}">Borrar</a>
            {% endif %}
        </p>
    </li>
{% endfor %}

{% if request.user.is_authenticated %}
<a href="{% url 'CrearDueño' %}"> Crear un nuevo Dueño </a>
{% endif %}

{% endblock contenidoQueCambia %}